.login {
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrapper {
  width: 70%;
  height: 70%;
  display: flex;
}
.login_left,
.login_right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header_logo {
  font-size: 50px;
  font-weight: 800;
  color: #1775ee;
  margin-bottom: 10px;
}
.slogan {
  font-size: 24px;
}
.box {
  height: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input_field {
  height: 50px;
  padding-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid grey;
  width: 100%;
}
.input_field:focus {
  outline: none;
}
.login_btn {
  height: 50px;
  font-size: 20px;
  background-color: #1775ee;
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}
.forgot_password {
  text-align: center;
  color: #1775ee;
  cursor: pointer;
}
.register_btn {
  height: 50px;
  width: 60%;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #42b72a;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
}
