.profile {
  display: flex;
}
.profile_right {
  flex: 9;
}
.profile_right_top {
  margin-top: 30px;
}
.profile_cover {
  height: 320px;
  position: relative;
  padding-top: 1rem;
}
.profile_cover_image {
  width: 100%;
  object-fit: cover;
  height: 250px;
}
.profile_pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  border: 1px solid white;
}
.profile_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile_info_name {
  font-size: 24px;
}
.profile_info_desc {
  font-weight: 300;
}
.profile_right_bottom {
  display: flex;
}
